version: '3.8'

services:

  pgadmin:
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL
      - PGADMIN_DEFAULT_PASSWORD
    ports:
      # For the application's endpoints
      - target: 80
        published: 8889
    depends_on:
      - db
    networks:
      - backend

  static_frontend:
    image: clairberlin/website:latest

  managair_server:
    image: clairberlin/managair:latest
    volumes:
      # Mount the local source code folder for quick iterations.
      # See: https://www.docker.com/blog/containerized-python-development-part-3/
      - type: bind
        source: ./managair/
        target: /code
        consistency: delegated
    ports:
      # For the application's endpoints
      - target: 8888
        published: 8888
      # To attach to the debugger
      - target: 3000
        published: 3000
      - target: 3001
        published: 3001
    environment:
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1
      - DEBUG_TOOLBAR
    deploy:
      placement:
        constraints:
          - node.role == manager # For bind-mounts on swarm to work

  ingestair:
    image: clairberlin/managair:latest
    environment:
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1

  clairchen_forwarder:
    image: clairberlin/clairttn:latest

  ers_forwarder:
    image: clairberlin/clairttn:latest
    environment:
      - DEBUG=0
